<footer class="site-footer">

    <div class="wrapper">

<!-- hypercomments -->

<!-- hypercomments -->

<!-- Google Analitics -->

<!-- Google Analitics -->

    <h2 class="footer-heading"> {{ site.title }} </h2>

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-3">
        <p class="text">Исходники лежат на <a href="https://github.com/marley-js/devops.ga" rel="nofollow">github</a>.<br/>
            <strong>Желающие поделиться своим опытом, обсудить материалы, сообщить об ошибке, пишите в <a href="//devops.ga/chat/">чат</a></strong>.
        </p>
      </div>
    </div>

  </div>

</footer>
